{% extends 'base.html' %} {% block title%} <title>Task Manager</title> {%endblock title %} {% block content %}
<br />
<div class="container">
  <br />
  {%if messages %} {%for message in messages %}
  <div class="alert alert-primary alert-dismissible fade show" role="alert">
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
    {{message}}
  </div>
  {%endfor%} {%endif%}
  <form method="POST">
    {%csrf_token %}
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        name="task"
        placeholder="New task?"
      />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Add Task</button>
  </form>
  <br />
  <table class="table table-bordered text-center">
    <thead>
      <tr class="table-dark">
        <th scope="col">Task</th>
        <th scope="col">Done</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      {%if tasks%} {% for obj in tasks %} {%if obj.done%}
      <tr class="table-success">
        <td><button type="button" class="btn btn-light"><del>{{obj.task}}</del></button></td>
        <td><a href="{% url 'pending_task' obj.id %}"><button type="button" class="btn btn-outline-dark">Mark This Pending</button></a></td>
        <td><a href="{% url 'edit_task' obj.id %}"><button type="button" class="btn btn-outline-info">Edit</button></a></td>
        <td><a href="{% url 'delete_task' obj.id %}"><button type="button" class="btn btn-outline-danger">Delete</button></a></td>
      </tr>
      {%else %}
      <tr>
        <td><button type="button" class="btn btn-light">{{obj.task}}</button></td>
        <td>
          <a href="{% url 'complete_task' obj.id %}"><button type="button" class="btn btn-outline-dark">Mark This Complete</button></a>
        </td>
        <td><a href="{% url 'edit_task' obj.id %}"><button type="button" class="btn btn-outline-info">Edit</button></a></td>
        <td><a href="{% url 'delete_task' obj.id %}"><button type="button" class="btn btn-outline-danger">Delete</button></a></td>
      </tr>
      {%endif %} {%endfor %} {%endif %}
    </tbody>
  </table>
  <nav aria-label="...">
    <ul class="pagination">
      <li class="page-item"> <a class="page-link" href="?pg=1"><<</a> </li>
      {%if tasks.has_previous%}
      <li class="page-item"><a class="page-link" href="?pg={{tasks.previous_page_number}}">{{tasks.previous_page_number}}</a></li>
      {%endif %}
      <li class="page-item"><a class="page-link" href="?pg={{tasks.number}}">{{tasks.number}}</a></li>
      {% if tasks.has_next%}
      <li class="page-item"><a class="page-link" href="?pg={{tasks.next_page_number}}">{{tasks.next_page_number}}</a></li>
      {%endif%}
      <li class="page-item"> <a class="page-link" href="?pg={{tasks.paginator.num_pages}}">>></a>
      </li>
    </ul>
  </nav>
</div>
{% endblock content%}
